@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap");

@theme {
  --font-sans: "Noto Sans KR", sans-serif;

  --text-xs: 12px;
  --text-sm: 14px;
  --text-base: 16px;
  --text-lg: 18px;
  --text-xl: 20px;
}

[data-font-family="default"] {
  --font-sans: "Noto Sans KR", sans-serif;
}

[data-font-family="roboto"] {
  --font-sans: "roboto", sans-serif;
}

body {
  @apply font-sans text-base;
}
